includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - database/
    level: 6
    universalObjectCratesClasses:
        - Illuminate\Http\Resources\Json\JsonResource
        - app\Models\*

    ignoreErrors:
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false


